@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden
}

.top-form {
  border: none;
  width: 150px;
  margin: 10px;
  transition: all 0.3s;
}

.form-control::placeholder {
  color: black;
}

.side-nav-item {
  cursor: pointer;
  color: #5D6E82;
  transition: color 0.3s ease-in;
}

.side-nav-item:hover {
  color: #2A7BE4;
}

.card-style {
  cursor: pointer;
  height: 300px;
  width: 280px;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-card {
  height: 35px;
  width: 35px;
}

.card-background {
  background: #F7FBFF;
}

.h2-color {
  color: #344050;
}

.h5-color {
  color: #6D7C8F;
}

.form-style-bg {
  background: #F9FAFD;
  width: 200px;
  height: 40px;
}

.form-p-bg {
  background: #F2F8FE;
}

.input-area{
  background: none;
  height: 30px;
  width: 150px;
}

.p-ai {
 cursor: pointer;
}

.input-to {
  cursor: pointer;
  background: #F9FAFD;
  height: 40px;
  width: 200px;
}

.calendar-style {
  cursor: pointer;
  background: #F9FAFD;
  height: 40px;
  width: 200px;
}

.calendar-bg {
  border: none;
  background: transparent;
}

.btn-ri {
  height: 40px;
  width: 40px;
}

.calendar-clear {
  cursor: pointer;
  background: #F9FAFD;
  height: 40px;
  width: 200px;
}

.input-calendar-clear {
  border: none;
  background: transparent;
}

.btn-bisearch {
  width: 60px;
}

.navbar-b {
  color: #5C6D81;
}

.navbar-h3 {
 color: #344050;
}

.pointer-on {
  cursor: pointer;
}

.span-new {
  cursor: pointer;
  background-color: #5D6E82;
}

.navbar-logout {
  cursor: pointer;
  color: red;
}

.navbar-img {
  height: 20px;
  width: 30px;
}

.sidebar-menu {
  font-size: 30px;
  border-bottom: 2px solid #F1F6F9;
  cursor: pointer;
}

.sidebar-flex {
  border-bottom: 2px solid #F1F6F9;
}

.sidebar-img-style {
  object-fit: cover;
}
